.fancy-button-wrapper,
.fancy-button {
  position: relative;
}

.fancy-button__disabled {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  background: transparent;
}

.fancy-button__label-transparent {
  color: transparent;
}
